﻿@{
    ViewBag.Title = "AGL code exercise";
}

<h1>AGL code exercise</h1>
<div>
    <h3>Female owner cats</h3>
    <ul data-bind="foreach: femaleOwnerCats">
        <li data-bind="text: Name">Loading...</li>
    </ul>

    <hr />

    <h3>Male owner cats</h3>
    <ul data-bind="foreach: maleOwnerCats">
        <li data-bind="text: Name">Loading...</li>
    </ul>
    
</div>

@section scripts{

    <script type="text/javascript">
        $.ajax({
            url: "/Home/Cats",
            success: function (returnedData) {
                setPeople(returnedData);
            },
            error: function () {
                alert("An error occurred communicating with the server. Please try again and if the problem persists contact support.");
            }
        });

        function setPeople(cats) {
            var viewmodel = {
                maleOwnerCats: cats.filter(function (value) { return value.OwnerGender === "Male" }),
                femaleOwnerCats: cats.filter(function (value) { return value.OwnerGender === "Female" })
            };
            ko.applyBindings(viewmodel);
        }
    </script>
}